name: Deploy to GitHub Pages

on:
  workflow_dispatch:
  push:
    branches:
      - main
  # Uncomment this if you want to run weekly to update the Guidelines published
  # schedule:
  #   # Every Sunday at 01:00
  #   - cron:  '0 1 * * 0'

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: "22.20.0"
          cache: "yarn"
          cache-dependency-path: "yarn.lock"

      - name: Install dependencies
        run: |
          corepack enable
          yarn install --immutable


      - name: Build website
        run: |
          yarn build

      - name: Clone Nanopub Guidelines in built folder
        run: |
          cd build
          git clone https://github.com/Nanopublication/Guidelines.git
          rm -rf Guidelines/.git
          cp Guidelines/nschema.ttl nschema
          mkdir guidelines
          mv Guidelines guidelines/working_draft


      # Popular action to deploy to GitHub Pages:
      # Docs: https://github.com/peaceiris/actions-gh-pages#%EF%B8%8F-docusaurus
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Build output to publish to the `gh-pages` branch:
          publish_dir: ./build
          # The following lines assign commit authorship to the official
          # GH-Actions bot for deploys to `gh-pages` branch:
          # https://github.com/actions/checkout/issues/13#issuecomment-724415212
          # The GH actions bot is used by default if you didn't specify the two fields.
          # You can swap them out with your own user credentials.
          user_name: github-actions[bot]
          user_email: 41898282+github-actions[bot]@users.noreply.github.com
